body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #2e3440;
    color: #d8dee9; 
    font-family: 'Courier New', Courier, monospace; 
}


pre {
    margin: 0;
    font-size: 2em;
    line-height: 1.5; 
}